<div class="form_section">
    <form id="register_form" (ngSubmit)="register()">
        <p>
            <label>username</label>
            <input type="text" name="username" [(ngModel)]="username" required/>
        </p>
        <p>
            <label>email</label>
            <input type="text" name="username" [(ngModel)]="username" required/>
        </p>
        <p>
            <label>password</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" required/>
        </p>
        <button class="menu_button" type="submit">sign up</button>
    </form>
    <button class="menu_button" (clic)="navigateToLogin()">login</button>
</div>
