<div class="sidebar">
    <div id="sideBar_profile_id" class="sideBar_profile" (click)="navigateToUsersInterface()">
        <img id="sideBar_profile_image" src="" alt="profile image">
        <h2 id="sideBar_profile_name">
            <p>{{username || "connect?"}}</p>
        </h2>
    </div>
    <div class="sideBar_menu">
        <button id="create_post_button" class="menu_button" (click)="navigateToNewPosts()">Create Post</button>
    </div>
    <div class="sideBar_search">
        <span>subjects</span>
        
        <span>authors</span>
        
    </div>
</div>