@import 'colors';

/* You can add global styles to this file, and also import other style files */
body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    overflow-x: hidden;
    background-color: $defaultMainBkgd;
    color: $fontLight;
}

//standart buttons
.menu_button {
    width: 90%;
    height: 50px;
    background-color: #000000;
    box-shadow: 0 5px 15px #000000;
    color: $fontLight;
    border: 2px solid $defaultBorderColor;
    border-radius: 25px;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.menu_button:active {
    background-color: #333333;
    box-shadow: none;
}
