
<div class="configUserRect">
    <form id="userProfileForm" (ngSubmit)="onSubmitProfile()">
        <div class="userProfileImage">
        </div>
        <p>
            <label for="username">Username</label>
            <input type="text" name="username" [(ngModel)]="username" required/>
        </p>
        <p>
            <label for="email">Email</label>
            <input type="email" name="email" [(ngModel)]="Email">
        </p>
        <button type="button" class="changePasswordButton" (click)="navigateToChangePassword()">change password</button>
        <button type="button" class="cancelButton">cancel</button>
        <button type="submit" class="confirmButton">save</button>
    </form>
</div>
<div class="configUSerRect">
    <form id="userDescritpionForm" (ngSubmit)="onSubmitDescription()">
        <p><label for="description">Description</label></p>
        <p><input type="text" id="description" [(ngModel)]="description"></p>
        <button type="button" class="cancelButton">cancel</button><button type="submit" class="confirmButton">save</button>
    </form>
</div>
