@import '../../../colors.scss';
@import '../../../styles.scss';

#TopBar {
    display: flex;
    width: 100%;
    background-color: $defaultElemColor;
    border: 1px solid $defaultBorderColor;
}

#topBarLeftSection {
    display: flex;
    flex-direction: column; /* Changer de row à column */
    justify-content: flex-start;
    width: 20%;
    border: 1px solid $defaultBorderColor;
}

#topBarLeftSection img {
    width: 80%;
    height: 80px;
}

#topBarRightSection {
    display: flex;
    flex-direction: column; /* Changer de row à column */
    justify-content: flex-start; /* Changer de flex-end à flex-start */
    width: 80%;
    border: 1px solid $defaultBorderColor;
}

#topBarRightSection section {
    border: 1px solid $defaultBorderColor;
}