<div class="form_section">
    <form id="change_password_form" (ngSubmit)="onSubmit()">
        <p>
            <label for="email">email</label>
            <input type="text" name="email" [(ngModel)]="email" required/>
        </p>
        <p>
            <label for="password">password</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" required/>
        </p>
        <p>
            <label for="confirmPassword">confirm password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required/>
        </p>
        <button class="menu_button" type="submit">send</button>
    </form>
</div>
