<section id="form-section">
    <form id="change-password-form" (ngSubmit)="changePassword()">
        <label for="email">email</label>
        <input type="text" name="email" [(ngModel)]="email" required/>
        <label for="password">password</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
        <label for="confirmPassword">confirm password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
        <button class="" type="submit">send</button>
    </form>
</section>
