<div class="form_section">
    <form id="log_in_form" (ngSubmit)="onSubmit()">
        <p>
            <label>username or email</label>
            <input type="text" name="usernameOrEmail" [(ngModel)]="usernameOrEmail" required/>
        </p>
        <p>
            <label>password</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" required/>
        </p>
        <button class="menu_button"  type="submit">login</button>
    </form>
    <button class="menu_button" (click)="navigateToRegister()">sign up</button>
    <button class="menu_button" (click)="navigateToChangePassword()">forgot password?</button>
</div>
