<section id="" class="posts">
    <div class="creatorProfile">
        <img id="avatarPhoto" class="avatarPhoto" src="" alt="Avatar" class="avatar">
    </div>
    <div class="container">
        <div id="title" class="title">
            <p>Title</p>
        </div>
        <div id="content" class="content">
            <p>Text</p>
        </div>
        <div id="subjects" class="subjects">
            <app-subjects-list></app-subjects-list>
        </div>
        <div id="menu" class="menu">
        </div>
        <div id="comments" class="comments">
            <app-comments-list></app-comments-list>
        </div>
    </div>
</section>
