.posts{
    color: #FFFFFF;
    width: 90%;
    margin:5%;
}
.avatarPhoto{
    border: 1px solid #dbe4eb;
}
.container{
    border: 1px solid #dbe4eb;
    background-color: #303030;
    width: 95%;
    margin-left:5%;
    padding-top:10%;
    padding-left:2%;
}